@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
}
<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <button class="btn btn-outline-primary">
                <i class="bi-search"></i>
            </button>
        </div>
    </div>
</form>


<table class="table table-hover caption-top">
    <caption>List of Restaurants</caption>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn btn-lg" asp-page="./Detail" asp-route-restaurantId="@restaurant.Id">
                    <i class="bi-zoom-in text-success"  data-bs-toggle="tooltip" data-bs-placement="top" title="Details"></i>
                </a>
                <a class="btn btn-lg" asp-page="./Edit" asp-route-restaurantId="@restaurant.Id">
                    <i class="bi-pencil-square text-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i>
                </a>
            </td>
        </tr>
    }
</table>

<a asp-page="./Edit" class="btn btn-outline-primary">Add Restaurant</a>